#about {
}

.about {
  &__picture {
    @include breakpoint($breakpoint-mobile--large) {
      margin-top: 72px;
    }
  }

  &__content {
    position: relative;
    padding-top: 24px;

    .background {
      position: absolute;
      z-index: -1;

      &:nth-child(1) {
        @include breakpoint($breakpoint-mobile--large) {
          top: 0;
          right: -25%;
        }

        top: -100px;
        right: -50%;
      }

      &:nth-child(2) {
        @include breakpoint($breakpoint-mobile--large) {
          right: 20%;
          bottom: 0;
        }

        right: 0;
        bottom: 0;
      }
    }
  }

  &__card {
    @include breakpoint($breakpoint-mobile--large) {
      min-height: 120px;
      padding: 14px;
    }

    min-height: 200px;
    padding: 18px 22px;
    border-radius: 8px;

    background-color: #ffffff;
  }

  &__text {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--small;
    }

    font-size: $font-size__text--regular;
    line-height: 1.4;
  }

  &__info {
    display: flex;
    align-items: center;

    margin-top: 40px;

    img {
      width: 24px;
    }
  }
}
