#action {
}

.action {
  &__picture {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 50px;
    }

    &.decoration-rect::after {
      top: 56px;
      left: -75px;
      width: 380px;
      height: 450px;
    }
  }
}
