// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  @include breakpoint($breakpoint-tablet) {
    margin-top: 120px;
  }

  margin-top: 240px;
}

.hero {
  .button {
    @include breakpoint($breakpoint-mobile--medium) {
      width: 100%;
    }
  }

  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 54px;
    }

    @include breakpoint(max-width 400px) {
      margin-bottom: 108px;
    }

    margin-bottom: 84px;
    padding-top: 36px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 36px;
      font-size: $font-size__title--medium;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__title--small;
      line-height: 1.25;
    }

    margin-bottom: 50px;

    font-weight: $weight-Bold;
    font-size: $font-size__title--large;

    line-height: 1;
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 36px;
      font-size: $font-size__text--regular + 2px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular;

      br {
        display: none;
      }
    }

    margin-bottom: 54px;
  }

  &__info {
    .hero__action {
      @include breakpoint($breakpoint-mobile--large) {
        margin-top: 54px;
      }

      @include breakpoint($breakpoint-mobile--medium) {
        margin-top: 36px;
      }

      text-align: center;
    }
  }

  &__wrapper {
    @include breakpoint($breakpoint-tablet) {
      justify-content: space-between;
      width: 100%;
      padding: 20px 14px;
    }

    @include breakpoint(max-width 400px) {
      flex-direction: column;
    }

    display: inline-flex;
    align-items: flex-start;

    padding: 24px 30px;

    border: 1px solid #111111;
    border-radius: 24px;
  }

  &__advantage {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--small;
    }

    @include breakpoint(max-width 400px) {
      display: flex;
      width: 100% !important;

      br {
        display: none;
      }
    }

    color: $color-text__black;
    font-weight: $weight-Medium;
    font-size: $font-size__text--regular;

    &:not(:last-child) {
      @include breakpoint($breakpoint-laptop--medium) {
        margin-right: 32px;
      }

      @include breakpoint($breakpoint-laptop) {
        margin-right: 16px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-right: 16px;
      }

      @include breakpoint(max-width 400px) {
        margin-right: 0;
        margin-bottom: 16px;
      }

      margin-right: 50px;
    }

    &:nth-child(1) {
      @include breakpoint($breakpoint-laptop) {
        width: 96px;
      }

      @include breakpoint($breakpoint-tablet) {
        width: 75px;
      }

      width: 120px;
    }

    &:nth-child(2) {
      @include breakpoint($breakpoint-laptop) {
        width: 160px;
      }

      @include breakpoint($breakpoint-tablet) {
        width: 125px;
      }

      width: 186px;
    }

    &:nth-child(3) {
      @include breakpoint($breakpoint-laptop) {
        width: 140px;
      }

      @include breakpoint($breakpoint-tablet) {
        width: 112px;
      }

      width: 170px;
    }

    .icon {
      @include breakpoint(max-width 400px) {
        margin-right: 8px;
        margin-bottom: 0;
      }

      width: 20px;
      margin-bottom: 12px;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-mobile--large) {
      left: 0;
      width: 100%;
    }

    left: -15px;
    width: 110%;

    &.decoration-rect::after {
      @include breakpoint($breakpoint-tablet) {
        right: -5px;
        width: 65vw;
        height: 250px;
      }

      right: -15px;
      bottom: 0;
      width: 430px;
      height: 450px;
    }
  }
}
