// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  margin-top: 240px;
}

.hero {
  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 54px;
    }

    margin-bottom: 84px;
    padding-top: 36px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 36px;
      font-size: $font-size__title--medium;
    }

    margin-bottom: 50px;

    font-weight: $weight-Bold;
    font-size: $font-size__title--large;

    line-height: 1;
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 36px;
      font-size: $font-size__text--regular + 2px;
    }

    margin-bottom: 54px;
  }

  &__info {
    display: inline-flex;
    align-items: flex-start;

    padding: 24px 30px;

    border: 1px solid #111111;
    border-radius: 24px;
  }

  &__advantage {
    color: $color-text__black;
    font-weight: $weight-Medium;
    font-size: $font-size__text--regular;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &:nth-child(1) {
      width: 120px;
    }

    &:nth-child(2) {
      width: 186px;
    }

    &:nth-child(3) {
      width: 170px;
    }

    .icon {
      width: 20px;
      margin-bottom: 8px;
    }
  }

  &__picture {
    left: -15px;
    width: 110%;
  }
}
