#information {
}

.information {
  &__content {
    line-height: 1.7;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 64px;
    }

    &.decoration-rect::after {
      top: 50%;
      left: 55%;

      width: 390px;
      height: 450px;

      transform: translate(-50%, -50%);
    }
  }

  &__list {
    margin-bottom: 40px;
  }

  &__text {
    @include breakpoint($breakpoint-tablet) {
      br {
        display: none;
      }
    }

    margin-bottom: 54px;
    font-weight: $weight-SemiBold;
  }

  &__action {
    text-align: center;
  }
}
