#offer {
}

.offer {
  &__card {
  }

  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 36px;
    }

    overflow: hidden;

    margin-bottom: 54px;
    border-radius: 0 48px;
  }

  &__title {
    text-align: center;
  }
}
