#offer {
  @include breakpoint($breakpoint-tablet) {
    overflow: hidden;
  }
}

.offer {
  &__card {
  }

  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 36px;
    }

    overflow: hidden;

    margin-bottom: 54px;
    border-radius: 0 48px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big - 2px;
    }

    font-weight: $weight-Regular;
    font-size: $font-size__text--big;

    line-height: 145%;
    text-align: center;
  }
}
