#price {
  position: relative;
  overflow: hidden;

  .section__header {
    margin-bottom: 20px;
  }

  &::before,
  &::after {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 100px;
    }

    @include breakpoint($breakpoint-tablet) {
      content: none;
    }

    content: "";
    position: absolute;
    z-index: 2;
    top: 0;

    width: 150px;
    height: 100%;
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, #f9f9fb 80%, rgba(#f9f9fb, 0) 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(270deg, #f9f9fb 80%, rgba(#f9f9fb, 0) 100%);
  }
}

.price {
  &__description {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 32px;
  }
}
