#speaker {
}

.speaker {
  .icon-blinking-stars {
    position: absolute;
    top: 70px;
    left: 30px;
  }

  &__content {
    padding-top: 54px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    line-height: 1.7;

    strong {
      color: #000000;
      font-weight: $weight-SemiBold;
    }
  }
}
