#speaker {
}

.speaker {
  .icon-blinking-stars {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 12px;
      margin-bottom: -12px;
    }

    position: absolute;
    z-index: 2;
    top: 70px;
    left: 30px;
  }

  &__content {
    @include breakpoint($breakpoint-tablet) {
      padding-top: 8px;
    }

    padding-top: 54px;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 50px;
    }

    padding-bottom: 30px;

    &.decoration-rect::after {
      right: -30px;
      bottom: 0;

      width: 375px;
      height: 450px;
    }
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 16px;
    }

    margin-bottom: 40px;
    font-family: "Times New Roman", Times, serif;
  }

  &__text {
    line-height: 1.7;

    strong {
      color: #000000;
      font-weight: $weight-SemiBold;
    }
  }
}
