#video {
  @include breakpoint($breakpoint-mobile--large) {
    padding-top: 50px;
  }

  overflow: visible;
}

.video {
  .icon-blinking-stars {
    @include breakpoint($breakpoint-mobile--large) {
      top: -110px;
      right: -20px;
    }

    position: absolute;
    top: 40px;
    right: 40px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__background {
    & > * {
      position: absolute;
    }

    .cross {
      &:nth-child(1) {
        @include breakpoint($breakpoint-mobile--large) {
          top: -40px;
          left: 0;
        }

        top: 60px;
        left: 100px;

        animation: move 3s ease infinite;
      }

      &:nth-child(2) {
        @include breakpoint($breakpoint-mobile--large) {
          right: 0;
        }

        right: 200px;
        bottom: -40px;

        animation: move 3s ease infinite reverse;
      }
    }

    .circle,
    .wave {
      z-index: -1;
    }

    .circle {
      top: 40%;
      left: 0;
    }

    .wave {
      @include breakpoint($breakpoint-mobile--large) {
        top: 110%;
        left: -10px;

        transform: scale(0.7);
      }

      top: 80%;
      left: 200px;
    }
  }

  &__preview {
    @include breakpoint($breakpoint-mobile--large) {
      width: 405px;
    }

    margin: 0 auto;
    border-radius: 24px;
  }

  &__play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
