<!-- Подвал -->
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="footer__content">
        <h2 class="footer__title">Остались вопросы?</h2>
        <div class="footer__text">Свяжись с нами</div>
      </div>
      <!-- /.footer__content -->

      <div class="footer__contact contact-list">
        <div class="contact-list__item">
          <a href="">
            <img src="img/icons/contact/phone.svg" alt="">
          </a>
        </div>
        <!-- /.contact-list__item -->

        <div class="contact-list__item">
          <a href="">
            <img src="img/icons/contact/mail.svg" alt="">
          </a>
        </div>
        <!-- /.contact-list__item -->

        <div class="contact-list__item">
          <a href="">
            <img src="img/icons/contact/instagram.svg" alt="">
          </a>
        </div>
        <!-- /.contact-list__item -->
      </div>
      <!-- /.footer__contact contact-list -->
    </div>
    <!-- /.footer -->
  </div>
  <!-- /.container -->
</footer>

<!-- Скрипты -->
<!-- build:js js/script.min.js -->
<script src="scripts/libraries/lazyload.js"></script>
<script src="scripts/libraries/forms.js"></script>
<script src="scripts/libraries/swiper.min.js"></script>

<script src="scripts/base.js"></script>
<script src="scripts/init.js"></script>
<script src="scripts/slider.js"></script>
<!-- endbuild -->
</body>

</html>