<!DOCTYPE html>
<html lang="ru">

@@include('layout/partials/head.html')

<body>
  <!-- Шапка -->
  <header id="header" class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__social">
          <a href="">
            <img class="icon" src="img/layout/partials/header/instagram.svg" alt="">
          </a>

          <img class="circle" src="img/layout/partials/header/circle.svg" alt="">
        </div>
        <!-- /.header__social -->

        <div class="header__logo">
          <a href="#">
            <img src="img/logo.png" alt="" class="logo logo--header">
          </a>
        </div>
        <!-- /.header__logo -->

        <div class="header__burger">
          <button class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
        <!-- /.header__burger -->
      </div>
      <!-- /.header__wrapper -->
    </div>
    <!-- /.container -->
  </header>