<div id="mobile-menu" class="mobile-menu">
  <div class="mobile-menu__container">
    <nav class="nav nav--mobile">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#about">О мастер-классе</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#offer">Кому подходит мастер-класс</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#information">Что вы узнаете на мастер-классе</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#price">Тарифы</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#speaker">Наш спикер</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#feedback">Отзывы</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#footer">Контакты</a>
        </li>
      </ul>
    </nav>
    <!-- /.nav -->
  </div>
  <!-- /.mobile-menu__container -->
</div>
<!-- /.mobile-menu -->