<div id="mobile-menu" class="mobile-menu">
  <div class="mobile-menu__container">
    <nav class="nav nav--mobile">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="">О мастер-классе</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Кому подходит мастер-класс</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Что вы узнаете на мастер-классе</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Тарифы</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Наш спикер</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Отзывы</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Контакты</a>
        </li>
      </ul>
    </nav>
    <!-- /.nav -->
  </div>
  <!-- /.mobile-menu__container -->
</div>
<!-- /.mobile-menu -->