.input {
  position: relative;

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &--error {
    .input__field {
      border-color: #e64747;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    @include breakpoint($breakpoint-tablet) {
      padding: 16px 26px;
      border-radius: 8px;
    }

    width: 100%;
    padding: 20px 32px;

    border: 1px solid #8e8e8e;
    border-radius: 12px;
    outline: none;

    background-color: transparent;
    color: $color-text__primary;

    font-size: $font-size__text--regular;
    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        border-color: #000000;
      }
    }

    &::placeholder {
      color: #8e8e8e;
    }

    &:focus {
      border-color: #000000;

      & ~ .input__label {
        color: $color-text__blue;
      }
    }
  }

  &__label {
    @include breakpoint($breakpoint-tablet) {
      left: 22px;
    }

    position: absolute;
    top: -8px;
    left: 27px;

    padding: 0 5px;

    background-color: $palette-white;

    color: #252525;
    font-size: $font-size__text--small;

    transition: $transition ease;
  }
}
