/* purgecss start ignore */

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar__bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar__contoller;
  }

  &--page {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-right: 3px solid #ededee;
    }
  }
}

/* purgecss end ignore */
