// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
}

.footer {
  @include breakpoint($breakpoint-tablet) {
    padding-bottom: 32px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 100px;

  &__content {
    text-align: center;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large + 4px;
    }

    margin-bottom: 12px;

    font-weight: $weight-Bold;
    font-size: $font-size__title--medium;
  }

  &__text {
    font-weight: $weight-Medium;
  }

  &__contact {
    margin-top: 64px;
  }
}
