// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;

  width: 100%;
  background-color: $palette-white;

  &--sticky {
    box-shadow: 0 2px 7px rgba(#0c2b3f, 0.2);

    .header__social {
      opacity: 0;
    }

    .header__wrapper {
      @include breakpoint($breakpoint-mobile--large) {
        padding: 18px 0;
      }

      padding: 24px 0;
    }
  }

  &__wrapper {
    @include breakpoint($breakpoint-mobile--large) {
      align-items: center;
      padding-top: 36px;
      padding-bottom: 36px;
    }

    position: relative;
    z-index: 3;

    display: flex;
    align-items: flex-start;

    padding-top: 64px;
    padding-bottom: 56px;

    background-color: $palette-white;
    transition: $transition ease;
  }

  &__social {
    position: absolute;
    top: 64px;
    left: 0;

    transition: $transition ease;

    .icon {
      position: absolute;
      z-index: 2;

      top: 50%;
      left: 50%;

      width: 48px;
      height: 48px;

      transform: translate(-50%, -50%);
      transition: $transition ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.75;
        }
      }
    }

    .circle {
      width: 160px;
      height: 160px;

      animation: rotate infinite 10s linear;
    }
  }

  &__logo {
    @include breakpoint($breakpoint-mobile--large) {
      position: static;
      margin-top: 8px;
      transform: none;
    }

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__burger {
    @include breakpoint($breakpoint-mobile--large) {
      transform: scale(0.8);
    }

    margin-left: auto;
  }
}
