.mobile-menu {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;

  width: 100%;

  visibility: hidden;

  &__container {
    @include breakpoint($breakpoint-tablet) {
      right: 0;
      width: 100%;

      padding: 40px 40px 40px 20px;
      transform: translateY(-100%);
    }

    position: absolute;
    z-index: 2;
    right: -30px;
    overflow: auto;

    width: 40%;
    max-width: 540px;

    padding: 40px 40px 70px;
    background-color: $palette-white;

    opacity: 0;
    transition: 0.3s ease-out;
  }

  &--open {
    visibility: visible;

    .mobile-menu__container {
      @include breakpoint($breakpoint-tablet) {
        transform: translateY(0%);
      }

      opacity: 1;
    }
  }
}
