$transition-time: 0.2s;

.modal {
  &__overlay {
    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(#000000, 0.7);
    backdrop-filter: blur(2px);
  }

  &__container {
    @include breakpoint($breakpoint-tablet) {
      width: 95%;
      padding: 24px;
      border-radius: 16px;
    }

    position: relative;

    width: 100%;
    max-width: 720px;
    padding: 48px;
    border-radius: 24px;

    background-color: $palette-white;
  }

  &__header {
    @include breakpoint($breakpoint-tablet) {
      text-align: left;
    }

    margin-bottom: 48px;
    text-align: center;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large;
    }

    font-size: $font-size__title--small;
    font-family: "Times New Roman", Times, serif;
  }

  &__close {
    @include breakpoint($breakpoint-tablet) {
      transform: scale(0.8);
    }

    position: absolute;
    z-index: 3;
    top: 25px;
    right: 25px;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    transition: opacity 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    &::before {
      content: url("../img/icons/control/modal__close.svg");
    }
  }

  &__content {
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: fade-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: slide-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: fade-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: slide-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}
