// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.disable-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba($color: #000000, $alpha: 0.4);
  opacity: 0;
  visibility: hidden;

  transition: $transition ease;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.container {
  @include breakpoint($breakpoint-tablet) {
    padding: 0 24px !important;
  }
}

.decoration-rect {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;

    display: block;
    border: 1px solid $palette-black;
    border-radius: 48px;
    background-color: transparent;
  }
}
