.form {
  &__privacy {
    @include breakpoint($breakpoint-tablet) {
      br {
        display: none;
      }
    }

    margin-top: 20px;

    color: #9a9a9a;
    font-size: 12px;
    text-align: center;
  }
}
