<div class="card-price">
  <div class="card-price__header">
    <h3 class="card-price__title">Cтандарт</h3>

    <div class="card-price__price card-price__price--new">
      <span class="card-price__cost cost-primary">9 990</span>
      <span class="card-price__cost cost-discount">8 910</span>
    </div>
    <!-- /.card-price__price -->
  </div>
  <!-- /.card-price__header -->

  <div class="card-price__content">
    <ul class="card-price__list">
      <li>
        <span>
          <span>
            Мастер-класс от Ирины
            <br>
            с записью
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Памятка по различиям нострификации в Австрии
            <br>
            и Германии
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Подборка сервисов по изучению медицинского немецкого
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Калькулятор расходов при переезде
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            <b>В результате</b> вы составите план по подготовке
          </span>
        </span>
      </li>
    </ul>

    <div class="card-price__action">
      <button data-micromodal-trigger="modal-pay" class="button button--block button-primary">Выбрать тариф</button>
    </div>
    <!-- /.card-price__action -->
  </div>
  <!-- /.card-price__content -->
</div>
<!-- /.card-price -->