<div class="card-price">
  <div class="card-price__header">
    <h3 class="card-price__title">VIP</h3>

    <div class="card-price__price card-price__price--new">
      <span class="card-price__cost">39 900</span>
      <span class="card-price__cost cost-primary">31 920</span>
    </div>
    <!-- /.card-price__price -->
  </div>
  <!-- /.card-price__header -->

  <div class="card-price__content">
    <ul class="card-price__list">
      <li>
        <span>
          <span>
            Личная консультация Ирины:
          </span>
        </span>

        <ul>
          <li>
            Разбор вашего кейса переезда;
          </li>

          <li>
            Личные рекомендации;
          </li>

          <li>
            Проверка мотивационного
            <br>
            письма и резюме;
          </li>
        </ul>
      </li>

      <li>
        <span>
          <span>
            <b> Эксклюзивная база материалов экзамена,</b>
            основанная на исследованиях проводимых за год работы над курсом.
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Памятка по различиям нострификации в Австрии
            <br>
            и Германии
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Шаблон мотивационного письма
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Калькулятор расходов при переезде
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Подборка работодателей.
            <br>
            А также инструкция
            <br>
            к самостоятельному поиску работодателей
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Шаблон резюме
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            База из 50 работодателей
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Добавление в общий чат, где вы можете задавать свои вопросы в течении месяца после мастер-класса
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            Подборка сервисов по изучению медицинского немецкого
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            <b>Скидка 10%</b> на услуги
            <br>
            по личному сопровождению от <b>FRAMKO</b>
          </span>
        </span>
      </li>

      <li>
        <span>
          <span>
            <b>В результате вы получите</b> план по подготовке, шаблоны документов, круг единомышленников, уникальные материалы для подготовки к экзаменам и курирование Ирины!
          </span>
        </span>
      </li>
    </ul>

    <div class="card-price__action">
      <button data-micromodal-trigger="modal-pay" class="button button--block button-primary">Выбрать тариф</button>
    </div>
    <!-- /.card-price__action -->
  </div>
  <!-- /.card-price__content -->
</div>
<!-- /.card-price -->