// Цветовая палитра блоков
$palette-white: #f9f9fb;
$palette-pink: #d2b2ec;
$palette-purple: #948ced;
$palette-blue: #3d2de0;
$palette-black: #0c2b3f;

// Цветовая палитра текста
$color-text__primary: #545454;
$color-text__black: #0c2b3f;
$color-text__white: #ffffff;
$color-text__blue: #3d2de0;
