.card-price {
  @include breakpoint($breakpoint-mobile--large) {
    padding: 18px 24px;
  }

  display: flex;
  flex-grow: 1;
  flex-direction: column;

  padding: 24px 30px;
  border: 2px solid $palette-black;
  border-radius: 24px;

  &--fav {
    border-color: $palette-blue;
  }

  &__header {
    @include breakpoint($breakpoint-mobile--large) {
      padding-bottom: 8px;
    }

    margin-bottom: 40px;
    padding-bottom: 12px;
    border-bottom: 2px solid $palette-black;

    font-weight: $weight-Medium;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__title {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--large;
    }

    margin-bottom: 4px;
    font-size: $font-size__title--small;
    text-align: center;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;

    &--new {
      .card-price__cost {
        &:nth-child(1) {
          @include breakpoint($breakpoint-mobile--large) {
            font-size: $font-size__text--big - 2px;
          }

          font-size: $font-size__text--large;
          text-decoration: line-through;
        }

        &:nth-child(2) {
          @include breakpoint($breakpoint-mobile--large) {
            font-size: $font-size__text--large;
          }

          margin-left: 32px;

          color: $palette-blue;
          font-size: $font-size__title--small;
        }
      }
    }
  }

  &__cost {
    &::after {
      content: " ₽";
    }
  }

  &__list {
    margin-bottom: 48px;
    font-weight: $weight-Medium;

    & > li {
      &:not(:last-child) {
        @include breakpoint($breakpoint-mobile--large) {
          margin-bottom: 20px;
        }

        margin-bottom: 24px;
      }

      &:last-child {
        & > *::before {
          background-image: url("../img/icons/misc/check--purple.svg");
        }
      }

      & > span {
        display: flex;
        align-items: flex-start;

        &::before {
          @include breakpoint($breakpoint-mobile--large) {
            width: 33px;
            height: 25px;

            margin-right: 12px;
          }

          content: "";
          display: block;

          flex-shrink: 0;

          width: 40px;
          height: 30px;

          margin-right: 16px;

          background-image: url("../img/icons/misc/check.svg");
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      & > ul {
        margin-top: 18px;
        margin-bottom: 48px;

        padding-left: 30px;
        list-style-type: disc;

        & > li {
          &::marker {
            content: initial;
          }
        }
      }
    }
  }

  &__action {
    @include breakpoint($breakpoint-mobile--large) {
      padding: 0;
    }

    margin-top: auto;
    padding: 0 55px;

    .button {
      max-width: 250px;

      @media (hover: hover) {
        &:hover {
          background-color: $palette-blue;
          color: $color-text__white;
        }
      }
    }
  }
}
