#slider-offer {
  .swiper {
    @include breakpoint($breakpoint-laptop--large) {
      width: 85%;
    }

    @include breakpoint($breakpoint-tablet--large) {
      overflow: visible;
    }
  }

  .swiper-control {
    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 32.5%;
  }

  .swiper-button-prev {
    @include breakpoint($breakpoint-laptop--large) {
      left: 10px;
    }
  }

  .swiper-button-next {
    @include breakpoint($breakpoint-laptop--large) {
      right: 10px;
    }
  }
}
