#slider-price {
  .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    @include breakpoint($breakpoint-tablet) {
      align-items: flex-start;
    }

    align-items: stretch;
  }

  .swiper-slide {
    @include breakpoint($breakpoint-tablet) {
      display: block;
      height: auto;
    }

    display: flex;
    height: initial;
  }
}
