<div class="modal modal-pay micromodal-slide" id="modal-pay" aria-hidden="true">
  <div class="modal__overlay" data-micromodal-close>
    <div class="modal__container" role="dialog">
      <div class="modal__header">
        <h3 class="modal__title">Тариф <span>Комфорт +</span></h3>

        <svg class="modal__close" data-micromodal-close width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path data-micromodal-close d="M2 2L24 24M24 2L2 24" stroke="#424242" stroke-width="3" />
        </svg>
      </div>

      <div class="modal__content">
        <form action="php/pay.php" data-target="pay" data-subject="Тариф" data-price="" class="modal__form form">
          <div class="row">
            <div class="col-12 col-sm-6 mb-4">
              <div class="input">
                <input data-required placeholder="Иван" autocomplete="off" type="text" name="user_fn" class="input__field">
                <span class="input__label">Ваше имя</span>
              </div>
              <!-- /.input -->
            </div>
            <!-- /.col-6 -->

            <div class="col-12 col-sm-6 mb-4">
              <div class="input">
                <input data-required placeholder="Иванов" autocomplete="off" type="text" name="user_ln" class="input__field">
                <span class="input__label">Ваша Фамилия</span>
              </div>
              <!-- /.input -->
            </div>
            <!-- /.col-6 -->

            <div class="col-12 col-sm-6 mb-4">
              <div class="input">
                <input data-required placeholder="I.I.Ivanov@gmail.com" autocomplete="off" type="email" name="user_email" class="input__field input__field--block">
                <span class="input__label">E-mail</span>
              </div>
              <!-- /.input -->
            </div>
            <!-- /.col-6 -->

            <div class="col-12 col-sm-6">
              <div class="input">
                <input placeholder="+7 (777 ) 777 77 77" autocomplete="off" type="tel" name="user_phone" class="input__field input__field--block">
                <span class="input__label">Ваш телефон</span>
              </div>
              <!-- /.input -->
            </div>
            <!-- /.col-6 -->
          </div>
          <!-- /.row -->

          <div class="form__action">
            <button class="button button-secondary" type="submit" data-sending="Отправка...">Оформить*</button>
          </div>
          <!-- /.form__action -->

          <div class="form__privacy">
            *Нажимая на кнопку Вы соглашаетесь с обработкой данных и главными
            <br>
            правилами компании
          </div>
          <!-- /.form__privacy -->
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.modal -->