.button {
  padding: 18px 32px;

  border: none;
  border-radius: $border-radius--button;
  outline: none;

  background-color: transparent;

  font-weight: $weight-Medium;
  font-size: $font-size__text--regular;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;
  transition: all $transition ease;

  &--block {
    width: 100%;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
