@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home">
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="row align-items-start">
          <div class="col-7">
            <div class="hero__content">
              <h1 class="hero__title">
                Узнай, как начать
                <br>
                карьеру врача за рубежом
              </h1>

              <p class="hero__description">
                Мастер-класс по подготовке к нострификации диплома
                <br>
                и работе в Европе
              </p>

              <div class="hero__action">
                <button class="button button-primary me-5">Записаться на мастер-класс</button>
                <button class="button button-outline">Подробнее о мастер-классе</button>
              </div>
              <!-- /.hero__action -->
            </div>
            <!-- /.hero__content -->

            <div class="hero__info">
              <div class="hero__advantage">
                <img class="icon" src="img/icons/misc/sun.svg" alt="">
                Более 100
                <br>
                клиентов
              </div>
              <!-- /.hero__advantage -->

              <div class="hero__advantage">
                <img class="icon" src="img/icons/misc/star.svg" alt="">
                114 приглашений
                <br>
                из университетов
                <br>
                получили ученики
              </div>
              <!-- /.hero__advantage -->

              <div class="hero__advantage">
                <img class="icon" src="img/icons/misc/eye.svg" alt="">
                Более 15
                <br>
                переехавших врачей
              </div>
              <!-- /.hero__advantage -->
            </div>
            <!-- /.hero__info -->
          </div>
          <!-- /.col-7 -->

          <div class="col-5">
            <picture class="hero__picture lazy">
              <img class="lazy__item lazy__item--blur image image--contain" src="" data-src="img/layout/page/index/hero/picture.png" alt="">
            </picture>
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>

  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <picture class="about__picture lazy">
            <img class="lazy__item lazy__item--blur image image--contain" src="" data-src="img/layout/page/index/about/picture.png" alt="">
          </picture>
        </div>
        <!-- /.col-6 -->

        <div class="col-6 ps-5">
          <div class="about__content">
            <img class="background" src="img/misc/circle/1.svg" alt="">
            <img class="background" src="img/misc/circle/2.svg" alt="">

            <div class="section__header section__header--offset">
              <h2 class="section__title">
                О чем мастер-класс?
              </h2>
            </div>
            <!-- /.section__header -->

            <div class="row g-4">
              <div class="col-6">
                <div class="about__card">
                  <p class="about__text">
                    Первый мастер-класс, который поможет ответить на вопросы, связанные
                    с обучением и карьерой врача в Европе.
                  </p>
                </div>
                <!-- /.about__card -->
              </div>
              <!-- /.col-6 -->

              <div class="col-6">
                <div class="about__card">
                  <p class="about__text">
                    Подготовься
                    к переезду заранее вместе
                    с экспертами в сфере европейского образования.
                  </p>
                </div>
                <!-- /.about__card -->
              </div>
              <!-- /.col-6 -->

              <div class="col-6">
                <div class="about__card">
                  <p class="about__text">
                    Для тех, кто уже переехал, расскажем как начать карьеру в течение 3 месяцев.
                  </p>
                </div>
                <!-- /.about__card -->
              </div>
              <!-- /.col-6 -->

              <div class="col-6">
                <div class="about__card">
                  <p class="about__text">
                    Всю информацию вы получите в закрытом телеграм-канале. Каждому участнику будет доступна запись мастер-класса.
                  </p>
                </div>
                <!-- /.about__card -->
              </div>
              <!-- /.col-6 -->
            </div>
            <!-- /.row -->

            <div class="about__info">
              <img class="icon me-3" src="img/icons/misc/star.svg" alt="">
              О других бонусах – в разделе <a class="link ms-2" href="">«Тарифы»</a>
            </div>
            <!-- /.about__info -->
          </div>
          <!-- /.about__content -->
        </div>
        <!-- /.col-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <section id="offer" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title text-center">
          Мастер-класс для вас, если вы
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="offer">
        <div id="slider-offer" class="slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="offer__card">
                  <picture class="offer__picture">
                    <img class="image image--cover" src="img/layout/page/index/offer/1.jpg" alt="">
                  </picture>

                  <h3 class="offer__title">
                    Еще учитесь
                    <br>
                    и планируете карьеру после окончания ВУЗа
                  </h3>
                </div>
                <!-- /.offer__card -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <div class="offer__card">
                  <picture class="offer__picture">
                    <img class="image image--cover" src="img/layout/page/index/offer/2.jpg" alt="">
                  </picture>

                  <h3 class="offer__title">
                    Уже являетесь специалистом и планируете продолжить карьеру в ЕС
                  </h3>
                </div>
                <!-- /.offer__card -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <div class="offer__card">
                  <picture class="offer__picture">
                    <img class="image image--cover" src="img/layout/page/index/offer/3.jpg" alt="">
                  </picture>

                  <h3 class="offer__title">
                    Уже начали готовить документы
                    <br>
                    для нострификации
                  </h3>
                </div>
                <!-- /.offer__card -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <div class="offer__card">
                  <picture class="offer__picture">
                    <img class="image image--cover" src="img/layout/page/index/offer/4.jpg" alt="">
                  </picture>

                  <h3 class="offer__title">
                    Впервые знакомитесь
                    <br>
                    с процессом и хотите узнать
                    <br>
                    о нем больше
                  </h3>
                </div>
                <!-- /.offer__card -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <div class="offer__card">
                  <picture class="offer__picture">
                    <img class="image image--cover" src="img/layout/page/index/offer/5.jpg" alt="">
                  </picture>

                  <h3 class="offer__title">
                    Планируете переезд
                    <br>
                    или поступление и хотите подготовиться заранее
                  </h3>
                </div>
                <!-- /.offer__card -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <div class="offer__card">
                  <picture class="offer__picture">
                    <img class="image image--cover" src="img/layout/page/index/offer/6.jpg" alt="">
                  </picture>

                  <h3 class="offer__title">
                    Еще не уверены, что готовы переезжать
                  </h3>
                </div>
                <!-- /.offer__card -->
              </div>
              <!-- /.swiper-slide -->
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- /.swiper -->

          <div class="swiper-control">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <div class="swiper-pagination"></div>
          </div>
          <!-- /.swiper-control -->
        </div>
        <!-- /.slider -->
      </div>
      <!-- /.offer -->
    </div>
    <!-- /.container -->
  </section>

  <section id="information" class="section">
    <div class="container">
      <div class="information">
        <div class="row">
          <div class="col-6">
            <div class="information__content">
              <div class="section__header section__header--offset">
                <h2 class="section__title">
                  Что вы узнаете на мастер-классе?
                </h2>
              </div>
              <!-- /.section__header -->

              <ul class="information__list list">
                <li>
                  Что такое нострификация, в чем ее особенности?
                </li>

                <li>
                  Как проверить можно ли нострифицировать ваш университет или диплом?
                </li>

                <li>
                  Нужен ли изученный язык или уровень А2 для переезда?
                </li>

                <li>
                  Научитесь правильно считать перечень всех расходов
                </li>

                <li>
                  Поймете как искать работу уже во время нострификации, сможете заранее подготовиться к трудоустройству
                </li>

                <li>
                  Узнаете как написать мотивационное письмо и резюме для работодателя
                </li>
              </ul>

              <p class="information__text">
                По итогу мастер-класса вы получите четкий план действий
                <br>
                по подготовке к переезду и карьере.
              </p>

              <div class="information__action">
                <button class="button button-primary">Записаться на мастер-класс</button>
              </div>
              <!-- /.information__action -->
            </div>
            <!-- /.information__content -->
          </div>
          <!-- /.col-6 -->

          <div class="col-6 ps-4">
            <picture class="information__picture lazy">
              <img class="lazy__item lazy__item--blur image image--contain" src="" data-src="img/layout/page/index/information/picture.png" alt="">
            </picture>
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.information -->
    </div>
    <!-- /.container -->
  </section>

  <section id="video" class="section">
    <div class="container">
      <div class="video">
        <div class="video__content">
          <a data-fslightbox="video" href="">
            <img class="video__preview" src="img/layout/page/index/video/preview.jpg" alt="">
            <img class="video__play" src="img/layout/page/index/video/play.svg" alt="">
          </a>
        </div>
        <!-- /.video__content -->
      </div>
      <!-- /.video -->
    </div>
    <!-- /.container -->
  </section>

  <section id="price" class="section">
    <div class="container">
      <div class="price">
        <div class="section__header">
          <h2 class="section__title text-center">
            Тарифы
          </h2>
        </div>
        <!-- /.section__header -->

        <div class="price">
          <div class="price__description">
            <img class="me-3" src="img/icons/misc/gift.svg" alt="">
            <p>
              Чек-лист по подготовке
              <br>
              к переезду в подарок!
            </p>
          </div>
          <!-- /.price__description -->

          <div id="slider-price" class="price__slider slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  @@include("layout/template/price/standart.html")
                </div>
                <!-- /.swiper-slide -->

                <div class="swiper-slide">
                  @@include("layout/template/price/comfort.html")
                </div>
                <!-- /.swiper-slide -->

                <div class="swiper-slide">
                  @@include("layout/template/price/comfort-plus.html")
                </div>
                <!-- /.swiper-slide -->

                <div class="swiper-slide">
                  @@include("layout/template/price/vip.html")
                </div>
                <!-- /.swiper-slide -->
              </div>
              <!-- /.swiper-wrapper -->

              <div class="swiper-scrollbar"></div>
            </div>
            <!-- /.swiper -->
          </div>
          <!-- /.price__slider slider -->
        </div>
        <!-- /.price -->
      </div>
      <!-- /.container -->
  </section>

  <section id="speaker" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title text-center">
          Наш спикер
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="speaker">
        <div class="row">
          <div class="col-6">
            <div class="speaker__content">
              <h3 class="section__title speaker__title">Ирина</h3>
              <p class="speaker__text">
                Врач акушер, гинеколог
                <br>
                Нострификант Венского Медицинского Университета
                <br>
                Стаж работы в больнице 2 года
                <br> <br>
                Проходила стажировку в Румынии
                <br>
                (Spitalul Clinic “Dr. Carol Davila”, 2019)
                <br> <br>
                <strong>10+ поступивших клиентов под сопровождением</strong>
              </p>
            </div>
            <!-- /.speaker__content -->
          </div>
          <!-- /.col-6 -->

          <div class="col-6 ps-5">
            <picture class="speaker__picture lazy">
              <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/speaker/picture.png" alt="">
            </picture>
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.speaker -->
    </div>
    <!-- /.container -->
  </section>

  <section id="feedback" class="section">
    <div class="container">
      <div class="feedback">
        <div class="feedback__grid feedback__grid--main">
          <div class="section__header">
            <h2 class="section__title text-center">
              Отзывы
            </h2>

            <img class="feedback__background" src="img/layout/page/index/feedback/background.svg" alt="">
          </div>
          <!-- /.section__header -->

          <picture class="feedback__picture lazy">
            <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/feedback/1.jpg" alt="">
          </picture>
          <!-- /.feedback__picture -->

          <picture class="feedback__picture lazy">
            <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/feedback/2.jpg" alt="">
          </picture>
          <!-- /.feedback__picture -->

          <picture class="feedback__picture lazy">
            <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/feedback/3.jpg" alt="">
          </picture>
          <!-- /.feedback__picture -->
        </div>
        <!-- /.feedback__grid -->

        <div class="feedback__grid feedback__grid--advanced">
          <picture class="feedback__picture lazy">
            <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/feedback/4.jpg" alt="">
          </picture>
          <!-- /.feedback__picture -->

          <picture class="feedback__picture lazy">
            <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/feedback/5.jpg" alt="">
          </picture>
          <!-- /.feedback__picture -->

          <picture class="feedback__picture lazy">
            <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/feedback/6.jpg" alt="">
          </picture>
          <!-- /.feedback__picture -->

          <picture class="feedback__picture lazy">
            <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/feedback/7.jpg" alt="">
          </picture>
          <!-- /.feedback__picture -->
        </div>
        <!-- /.feedback__grid -->
      </div>
      <!-- /.feedback -->
    </div>
    <!-- /.container -->
  </section>

  <section id="action" class="section">
    <div class="container">
      <div class="action">
        <div class="row align-items-center">
          <div class="col-6">
            <div class="section__header">
              <h2 class="section__title">
                Узнай, как начать
                <br>
                карьеру врача за рубежом
                <br>
                прямо сейчас!
              </h2>
            </div>
            <!-- /.section__header -->

            <button class="action__button button button-secondary">Записаться на мастер-класс</button>
          </div>
          <!-- /.col-6 -->

          <div class="col-6">
            <picture class="action__picture lazy">
              <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/index/action/picture.png" alt="">
            </picture>
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.action -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')