@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home">
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="row align-items-start">
          <div class="col-7">
            <div class="hero__content">
              <h1 class="hero__title">
                Узнай, как начать
                <br>
                карьеру врача за рубежом
              </h1>

              <p class="hero__description">
                Мастер-класс по подготовке к нострификации диплома
                <br>
                и работе в Европе
              </p>

              <div class="hero__action">
                <button class="button button-primary me-5">Записаться на мастер-класс</button>
                <button class="button button-outline">Подробнее о мастер-классе</button>
              </div>
              <!-- /.hero__action -->
            </div>
            <!-- /.hero__content -->

            <div class="hero__info">
              <div class="hero__advantage">
                <img class="icon" src="img/layout/page/index/hero/sun.svg" alt="">
                Более 100
                <br>
                клиентов
              </div>
              <!-- /.hero__advantage -->

              <div class="hero__advantage">
                <img class="icon" src="img/layout/page/index/hero/star.svg" alt="">
                114 приглашений
                <br>
                из университетов
                <br>
                получили ученики
              </div>
              <!-- /.hero__advantage -->

              <div class="hero__advantage">
                <img class="icon" src="img/layout/page/index/hero/eye.svg" alt="">
                Более 15
                <br>
                переехавших врачей
              </div>
              <!-- /.hero__advantage -->
            </div>
            <!-- /.hero__info -->
          </div>
          <!-- /.col-7 -->

          <div class="col-5">
            <picture class="hero__picture lazy">
              <img class="lazy__item lazy__item--blur image image--contain" src="" data-src="img/layout/page/index/hero/picture.jpg" alt="">
            </picture>
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')